.form-container {
  position: fixed;
  width: 400px;
  height: 200px;
  top: 40%;
  left: 50%;
  margin-top: -100px;
  margin-left: -250px;
  text-align: center;
}

.logo {
  height: 100%;
  border-radius: 50%;
}

.form-login {
  width: 50%;
  height: 50%;
  margin: auto;
}

.input {
  padding: 10;
  font-size: 20px;
  border-color: "#FFBD4A";
  margin-top: 20px;
  margin-bottom: 15px;
}