.outerContainer{
  width: 100%;
  height: 100px;
}

.item-card {
    max-width: 100%;
    background-color: #cceeff;
    margin-top: 10px;
  }
  .avis{
    width: 50px;
    float: right;
  }

  .list-item{
    display: inline-flex;
  }